<ion-view>
<div class="bar bar-header">
    <h1 class="title">
      home页面
      <!-- 这是合并分支 -->
    </h1>
</div>
    <div class="bar bar-subheader" style="height:3rem; z-index: 15;">
    <ion-scroll zooming="true" direction="x" style=" position: relative; 
                                                  top:-0.4rem; 
                                                  left:-0.4rem;
                                                  width:103.5%;
                                                  height:5rem;
                                                  background: #FFF;">
        <div style="width: 145%; height: 3rem;">
          <table style="position: absolute; 
                                    top:0rem; 
                                    left:5px;
                                    width:145%;
                                    height:5rem;
                                    background:#FFF;">
            <tr class="middle">
              <td ng-repeat="list in homeData.subHeaderData.others">
                <p style="width: 30px;" ng-click="selectedType(list)">{{list.name}}</p> 
              </td>
            </tr>
          </table>
        </div>
      </ion-scroll>
      <div style="position: relative;top:-1.5rem;left:-0.4rem;width: 150%;height: 1rem; background: #FFF;z-index:1;-webkit-box-shadow:3px 3px 3px #C0C0C0;-moz-box-shadow:3px 3px 3px #C0C0C0;box-shadow:3px 3px 3px #C0C0C0;"></div>
  </div>

    <ion-slide-box show-pager="false">
    <ion-slide>
      <ion-scroll  class="has-header" style=" position: absolute;
                                                top: 8rem; 
                                                width:100%;
                                                height:82%;
                                                background: #FFF;" on-drag-right="onDragRight()" on-drag-left="onDragLeft()" delegate-handle="homeScroll">
        <div style="width: 100%;height: 40px;">
          <p style="position: relative; top: 20px;text-align:center;"><strong>{{homeData.showTitle}}</strong></p>
        </div>
        <div style="position: relative;top: 0rem; height: 10%;width: 100%; border: solid 0px #FFF;" ng-repeat="item in homeData.contentData.stories" >
          <a style="text-decoration:none;" href = "#/home/details/{{item.id}}/{{homeData.contentType}}/{{homeData.contentDate}}/{{homeData.contentDateNum}}">
            <div ng-if="item.index % 2 == 0" style="position: absolute; top: 20%; right: 0%; width: 84%; height: 75%; border: solid 1px #C0C0C0;-webkit-box-shadow:3px 3px 3px #C0C0C0;-moz-box-shadow:3px 3px 3px #C0C0C0;box-shadow:3px 3px 3px #C0C0C0;">
              <p style="position: absolute; left: 0%; width: 80%;height: 50%;text-align:left; color: #000;">{{item.title}}</p>
            </div>
            <div ng-if="item.index % 2 != 0" style="position: absolute; top: 20%; left: 0%; width: 84%; height: 75%; border: solid 1px #C0C0C0;-webkit-box-shadow:3px 3px 3px #C0C0C0;-moz-box-shadow:3px 3px 3px #C0C0C0;box-shadow:3px 3px 3px #C0C0C0;">
              <p style="position: absolute; right: 0%; width: 80%;height: 50%;text-align:left; color: #000;">{{item.title}}</p>
            </div>
          </a>
        </div>
      </ion-scroll>
    </ion-slide>
    </ion-slide-box>
    


</ion-view>